# Byte-compiled / optimized / DLL Files
__pycache__/
*.py[cod]
*$py.class

# Virtual Envornments
.venv
venv/
env/
ENV/

# Editor project settings
## VSCode
.vscode/
## PyCharm intellij
.idea/
## repl.it
.replit
## Spyder
.spyproject/
.spyderproject/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Custom attributes for folders on Mac OS
.DS_Store

# Environmental variables
.env

# Backup files
*.bak

# Personal TODO files
TODO

.python-version
